<h1>Editing reader card</h1>

<%= render "form", reader_card: @reader_card %>

<br>

<div>
  <%= link_to "Show this reader card", @reader_card %> |
  <%= link_to "Back to reader cards", reader_cards_path %>
</div>
